services:
  # ----------------------------------------------------
  # SERVICE 1: DATABASE (PostgreSQL)
  # ----------------------------------------------------
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_prod_data:/var/lib/postgresql/data
      - ./db_init/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend-tier
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  # ----------------------------------------------------
  # SERVICE 2: CACHE (Redis)
  # ----------------------------------------------------
  redis:
    image: redis:alpine
    restart: always
    networks:
      - backend-tier
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3

  # ----------------------------------------------------
  # SERVICE 3: BACKEND
  # ----------------------------------------------------
  backend:
    restart: always
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy # Wait for DB to be READY
      redis:
        condition: service_healthy # Wait for Redis
    networks:
      - frontend-tier
      - backend-tier

  # ----------------------------------------------------
  # SERVICE 4: FRONTEND
  # ----------------------------------------------------
  frontend:
    restart: always
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    networks:
      - frontend-tier
    depends_on:
      - backend

# ----------------------------------------------------
# NETWORKS
# ----------------------------------------------------
networks:
  frontend-tier:
    driver: bridge
  backend-tier:
    driver: bridge

# ----------------------------------------------------
# VOLUMES (The Hard Drive)
# ----------------------------------------------------
volumes:
  postgres_prod_data: